html{
    font-size:15px;
    font-family:"Open Sans",sans-serif;
    background-color:#555555;
    align-items: center;
    justify-content: center;
    background-image:url('the_truth.gif');
    background-repeat:repeat;
    background-size: 100%;
    background-position: center;
    }

h1{
    color:rgb(39, 59, 39);
    font-size:40px;
    text-align:center;
    text-shadow: 3px 3px 3px black;
    text-decoration-style: dotted;
    animation: glitch 1s infinite;
    }

h1::before, h1::after {
content: attr(data-text);
overflow: hidden;
color:rgb(39, 59, 39);
clip:rect(0, 900px, 0, 0);
animation: glitch 1.5s infinite;
}
h1::before{
    left: 2px;
    text-shadow: -2px 0 rgb(6, 143, 6);
    animation-duration: 1.2s;
}
h1::after{
    left: -2px;
    text-shadow: -2px 0 rgb(125, 146, 4);
    animation-duration: 1.2s;
}
@keyframes glitch {
  0% {
    clip:rect(42px, 9999px, 44px, 0)
    ;
    transform: skew(0.4deg);
  }  
  20% {
    clip: rect(15px, 9999px, 0);
     ;
     transform: skew(0.3deg);
  }
  40% {
    clip: rect(85px, 9999px, 140px, 0);
     ;
     transform: skew(0.5deg);
  }
  60% {
    clip: rect(35px, 9999px, 90px, 0);
     ;
     transform: skew(0.6deg);
  }
  80% {
    clip: rect(42px, 9999px, 44px, 0);
     ;
     transform: skew(0.4deg);
  }
  100% {
    clip: rect(15px, 9999px, 56px, 0);
     ;
     transform: skew(0.3deg);
  }
}