h1{
  color:rgb(138, 138, 138);
  font-size:60px;
  text-align:center;
  text-shadow: 3px 3px 3px black;
  }

h2{
  text-align:center;
  border:2px solid rgb(122, 122, 122);
  background-color:#979797
  }

html{
font-size:15px;
font-family:"Open Sans",sans-serif;
background-image:url('the_truth.gif');
background-repeat:no-repeat;
background-size: 100%;
background-color:#555555;
}

body{
width: 600px;
margin: 0 auto;
background-color:#c2c2c2;
border: 5px solid black;
}

img{
display: block;
margin: 0 auto;
width: 600px;
}

@media screen and (min-width:1081px){
  body{
    padding: 0 20px 20px 20px;
    width: 80%;
    margin: 0 auto;
    background-color:#c2c2c2;
    border: 5px solid black;
  }
}